@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lexend&family=Raleway&display=swap');

.firstbite {
    font-size: 1.5em;
    text-align: center;
    padding: 2em;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    padding: 1em;
}
.buyticketsp{
    display: flex;
    grid-row: 2;
    grid-column: 2;
    color: var(--textcolor);
    border: 2px solid white;
    background-color: #E3B1E2;
    height: 3em;
    width: 10em;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.firstbite,
.infobite:not(.readmorebutton),
.slidebite:not(.lecturebutton),
.morethan:not(.readmorebutton),
.finalplug:not(.ticketbutton),
.letter,
.footsy{
    font-family: 'Lexend', sans-serif;
}