.slidebiteh,
.morethanh{
    font-size: 2em;
}
.morethan{
    background-image: url(firstplug-refined.png);
    background-size: cover;
}
.slidebitehl,
.finalh{
    font-size: 1.5em;
}
.slidebitelecture,
.morethantext{
    font-size: 1.2em;
}
.slidebite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lecturelink{
    grid-row: 4;
    grid-column: span 2;
    display: flex;
    color: rgb(247, 244, 244);
    border: 2px solid white;
    background-color: #E3B1E2;
    height: 3em;
    width: 10em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1em;
}
.slidecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 6em;
    column-gap: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    justify-items: center;
}
.lecturepic{
    width: 80%;
    border-radius: 100em;
    border: 0.5em solid #00adb5;
}
.morethan,
.finalplug{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}
.lecturebutton{
    transition: all 0.5s ease-in;
}
.lecturebutton:hover,
.lecturebutton:focus{
    font-weight: bolder;
    font-size: 110%;
}
.bottompad{
    margin-bottom: 1em;
}
@media(max-width: 768px){
    .slidecontainer{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 0;
        padding-left: 2em;
        padding-right: 2em;
    }
    .pxkrig{
        grid-row: 1;
    }
    .a11y{
        grid-row: 5;
    }
    .slidebitelecture{
        margin-bottom: 6em;
    }
    .slidepic{
        width: 70%;
    }
    .morethan,
    .finalplug{
        padding: 0 2em;
    }
}