.slidebiteh,
.morethanh{
    font-size: 2em;
}
.morethan{
    background-image: url(firstplug-refined.png);
    background-size: cover;
}
.slidebitehl,
.finalh{
    font-size: 1.5em;
}
.slidebitelecture,
.morethantext{
    font-size: 1.2em;
}
.slidebite{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lecturelink{
    grid-row: 4;
    grid-column: span 2;
    display: flex;
    color: rgb(247, 244, 244);
    border: 2px solid white;
    background-color: #E3B1E2;
    height: 3em;
    width: 10em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.slidecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 6em;
    column-gap: 1.5em;
    padding: 4em 2em;
    align-items: center;
    justify-items: center;
}
.lecturepic{
    width: 80%;
    border-radius: 100em;
    border: 0.5em solid #00adb5;
}
.morethan,
.finalplug{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.padleft{
    padding-left: 15%;
}
.padright{
    padding-right: 15%;
}