@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lexend&family=Raleway&display=swap');
.footsy{
    background-color: #00adb5;
}
.footsycontainer{
    display: flex;
    align-items: center;
    height: 10em;
    overflow: hidden;
}
.öppettider{
    list-style: none;
    font-size: 1.2em;
}
.leftfoot{
    display: flex;
    align-items: center;
    justify-items: center;
}
.logoimgf{
    width: 35%;
}
.adress{
    font-size: 1em;
}
*{
    font-family: 'Lexend', sans-serif;
}
.rightfoot{
    padding-right: 2em;
}
@media(max-width: 768px){
    .öppettider{
        font-size: 1em;
    }
}