body{
    margin: 0;
    box-sizing: border-box;
}
.lectures{
    text-align: center;
    justify-content: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lecturecontainer,
.lecturecontainer2{
    display: grid;
    row-gap: 5em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.lecturecontainer{
    grid-template-rows: repeat(3, 1fr);
}
.lecturecontainer2{
    grid-template-rows: repeat(4, 1fr);
}
.lpic{
    width: 40vw;
    border-radius: 100em;
    border: 0.5em solid #00adb5;
}
.lectureheader{
    font-size: 2em;
}
.lecturerub{
    font-size: 1.5em;
}
.lectureinfo{
    font-size: 1.2em;
}